
<div class="modal" ng-controller="KisBpmTaskOutcomesPopupCtrl">
    <div class="modal-dialog modal-wide">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close()">&times;</button>
                <h2>{{'PROPERTY.PROPERTY.EDIT.TITLE' | translate:property}}</h2>
            </div>
            <div class="modal-body">

                <div class="row row-no-gutter">
                    <div class="col-xs-6">
                        <div ng-if="translationsRetrieved" class="default-grid" ng-grid="gridOptions"></div>
                        <div>
                            <!--<div class="btn-group">-->
                                <!--<a class="btn btn-icon btn-lg" rel="tooltip" data-title="{{'ACTION.MOVE.UP' | translate}}" data-placement="bottom" data-original-title="" title="" ng-click="movePropertyUp()"><i class="glyphicon glyphicon-arrow-up"></i></a>-->
                                <!--<a class="btn btn-icon btn-lg" rel="tooltip" data-title="{{'ACTION.MOVE.DOWN' | translate}}" data-placement="bottom" data-original-title="" title="" ng-click="movePropertyDown()"><i class="glyphicon glyphicon-arrow-down"></i></a>-->
                            <!--</div>-->
                            <div class="btn-group">
                                <a class="btn btn-icon btn-lg" rel="tooltip" data-title="{{'ACTION.ADD' | translate}}" data-placement="bottom" data-original-title="" title="" ng-click="addNewOutcome()"><i class="glyphicon glyphicon-plus"></i></a>
                                <a class="btn btn-icon btn-lg" rel="tooltip" data-title="{{'ACTION.REMOVE' | translate}}" data-placement="bottom" data-original-title="" title="" ng-click="removeOutcome()"><i class="glyphicon glyphicon-minus"></i></a>
                            </div>
                        </div>
                        <div ng-show="selectedOutcomes.length > 0">
                            <div class="form-group">
                                <label for="nameField">{{'PROPERTY.TASKOUTCOMES.NAME' | translate}}</label>
                                <input id="nameField" class="form-control" type="text" ng-model="selectedOutcomes[0].name" placeholder="{{'PROPERTY.TASKOUTCOMES.NAME.PLACEHOLDER' | translate }}" />

                                <label for="formField">{{'PROPERTY.TASKOUTCOMES.FORM' | translate}}</label>
                                <input id="formField" class="form-control" type="text" ng-model="selectedOutcomes[0].form.name" placeholder="{{'PROPERTY.TASKOUTCOMES.FORM.PLACEHOLDER' | translate }}" />
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-6" ng-if="selectedOutcomes.length > 0">
                        <div class="default-grid" ng-grid="propertiesGridOptions"></div>
                        <div class="btn-group">
                            <a class="btn btn-icon btn-lg" rel="tooltip" data-title="{{'ACTION.ADD' | translate}}" data-placement="bottom" data-original-title="" title="" ng-click="addNewFormProperty()"><i class="glyphicon glyphicon-plus"></i></a>
                            <a class="btn btn-icon btn-lg" rel="tooltip" data-title="{{'ACTION.REMOVE' | translate}}" data-placement="bottom" data-original-title="" title="" ng-click="removeFormProperty()"><i class="glyphicon glyphicon-minus"></i></a>
                        </div>
                        <div ng-show="selectedFormParams.length > 0">
                            <div class="form-group">
                                <label for="formPropertyNameField">{{'PROPERTY.TASKOUTCOMES.FORM.PARAM.NAME' | translate}}</label>
                                <input id="formPropertyNameField" class="form-control" type="text" ng-model="selectedFormParams[0].name" placeholder="{{'PROPERTY.TASKOUTCOMES.FORM.PARAM.NAME.PLACEHOLDER' | translate }}" />
                                <label for="formPropertyValueField">{{'PROPERTY.TASKOUTCOMES.FORM.PARAM.VALUE' | translate}}</label>
                                <input id="formPropertyValueField" class="form-control" type="text" ng-model="selectedFormParams[0].value" placeholder="{{'PROPERTY.TASKOUTCOMES.FORM.PARAM.VALUE.PLACEHOLDER' | translate }}" />
                            </div>
                        </div>

                        <!--<div ng-show="selectedProperties.length == 0" class="muted no-property-selected" translate>PROPERTY.FORMPROPERTIES.EMPTY</div>-->
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button ng-click="cancel()" class="btn btn-primary" translate>ACTION.CANCEL</button>
                <button ng-click="save()" class="btn btn-primary" translate>ACTION.SAVE</button>
            </div>
        </div>
    </div>
</div>
