<div class="modal" ng-controller="KisBpmTextPropertyPopupCtrl">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close()">&times;</button>
        <h3>{{'PROPERTY.PROPERTY.EDIT.TITLE' | translate:property}}</h3>
      </div>
      <div class="modal-body">
        <div id="beanSelectWrapper">
          <div id="beanSelectDiv" style="font-size:14px;float: right;">
            Integration service:
            <select id="beanSelect"></select>
          </div>

          <div id="methodSelectDiv" style="margin-top:10px;font-size:14px;float: right;margin-bottom: 10px;">
            Service method:
            <select id="methodSelect"></select>
          </div>


          <div id="arguments-table" style="margin-top:10px;">
            <div id="argTableHeader" style="font-size:16px;">Method arguments</div>
            <table id="argTable" style="width:100%">
              <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Description</th>
                <th>Value</th>
              </tr>
            </table>
          </div>
          <div id="outputName">
            Output variable name:
            <input id="outputVariableName" type="text" style="width: 290px;" />
          </div>
          <div id="outputTypeWrapper">
            Output variable type:
            <div id="outputType">
            </div>
          </div>
        </div>
        <div id="variablesWrapper">
          <div id="inputVariablesWrapper">
            <div id="variables">
              Available Variables
              <div id="filter">
                Filter
                <input id="filterInput">
              </div>
            </div>
            <div id="table-scroll">
              <table id="inTable">
                <tr>
                  <th>Input name</th>
                  <th>Type</th>
                  <th>Description</th>
                </tr>
              </table>
            </div>

            <textarea id="textarea" class="form-control ng-pristine ng-valid" ng-model="property.value" style="margin-top:360px; visibility: hidden;"
              ng-change="doTest()"></textarea>
          </div>

        </div>

      </div>
      <div id="footer-wrapper">
        <div class="modal-footer">
          <button ng-click="save()" class="btn btn-primary" translate>ACTION.SAVE</button>
        </div>
      </div>
    </div>
    <script src="editor-app/configuration/properties/bean-select.js"></script>
    <link rel="stylesheet" type="text/css" href="editor-app/configuration/properties/bean-select.css">