table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

<<<<<<< Updated upstream
input[type="text"] {
  width: 100%;
}

#outputName {
  position: absolute;
  top: 15px;
  right: 105px;
=======
  table,
  th,
  td {
    border: 1px solid black;
    border-collapse: collapse;
  }
input[type="text"]{
	width:100%;
>>>>>>> Stashed changes
}
