<div class="modal" ng-controller="KisBpmTextPropertyPopupCtrl">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close()">&times;</button>
				<h3>{{'PROPERTY.PROPERTY.EDIT.TITLE' | translate:property}}</h3>
			</div>
			<div class="modal-body">

				<div id="scriptTemplate">
					<div id="templateSelectDiv">
						Script template:
						<select id="templateSelect"></select>
					</div>
					<div id="editor" auto-focus="" style="top: 0;right: 0;bottom: 0;left: 0;height:424px;margin-top:10px;"></div>
					<textarea id="textarea" class="form-control ng-pristine ng-valid" ng-model="property.value" style="" ng-change="doTest()"></textarea>
				</div>



				<div id="variablesWrapper">

					<div id="outVariables">
						<div style="display:inline-block; float:left;">Outup variables</div>
						<div id="removeBtn">Remove</div>
						<div id="addBtn">Add</div>
						<div id="table-scroll">
							<table id="outTable" style="width:100%">
								<tr>
									<th>Name</th>
									<th>Type</th>
									<th>Description</th>
								</tr>
							</table>
						</div>
					</div>
					<div id="inputVariablesWrapper" style="margin-top: 190px;">
						<div id="variables">
							Available Variables
							<div id="table-scroll">
								<table id="inTable" style="width:100%">
									<tr>
										<th>Input name</th>
										<th>Type</th>
										<th>Is constant</th>
										<th>Default value</th>
									</tr>

								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="footer-wrapper">
				<div class="modal-footer">
					<button ng-click="save()" class="btn btn-primary" translate>ACTION.SAVE</button>
				</div>
			</div>
		</div>
	</div>
</div>

<link rel="stylesheet" href="editor-app/awesomplete/awesomplete.css" />
<script src="editor-app/awesomplete/awesomplete.js" async></script>

<script src="editor-app/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="editor-app/ace/ext-language_tools.js"></script>
<script src="editor-app/configuration/properties/text-popup.js"></script>
<link rel="stylesheet" type="text/css" href="editor-app/configuration/properties/text-popup.css">